<div class="card-header has-background-grey-light">
  <span class="card-header-title subtitle">{{title}}</span>
</div>
<div class="card-content">
  {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
  |
  <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
</div>