<article class="card">
  <div class="card-header has-background-grey-light">
    <span class="card-header-title">{{post.title}}</span>
  </div>
  <div class="card-content">
    {{post.vote_count}} point(s) by {{post.user.username}} on
    {{post.created_at}}
    |
    <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
  </div>
</article>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit" class="button is-info">Add Comment</button>
    <button type="button" class="button is-success">Upvote</button>
  </div>
</form>
{{/if}}

<h1 class="title has-text-link">Comments:</h1>
{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}